.approvalLineList{
  margin-top: 20px;
  width: 700px;
  height: 300px;

}

.lineTable th {
  background-color: #6DA7A6;
  color: white;
  
}

.lineTable {
  text-align: center;
}

.checkImg {
  margin-top: 5px;
  width: 20px;
  height: 20px;
}