.regist {
  margin-top: 20px;
  margin-left: 20px;
}

.flex {
  display: flex;
}

.approvalDetail {
  margin-top: 50px;
}

.long {
  width: 550px;
  height: 24px;
  border: 0px;
}

.approvalForm {
  margin-left: 20px;
  width: 700px;
  padding: 20px;
  height: 700px;
  border: 1px solid gray ;
}

.approvalForm h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.detailForm h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.docTable {
  width: 300px;
  height: 200px;
  flex-direction: column;
}

.docTable table {
  border-collapse: collapse;
}

.stampHead {
  display: flex;
  justify-content: flex-end;
  background-color: #E8E8E8;
  width: 30px;
  height: 110px;
  text-align: center;
  align-items: center;
  border: 1px solid gray;
}

.flexEnd{
  display: flex;
  justify-content: space-between;
}

.horizontal { 
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* width: 60px; */
  height: 112px;
  /* background-color: yellow; */
}

.horizontal img {
  width: 40px;
  height: 40px;
}

.stampBox div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 24px;
  border: 1px solid gray;
}

.stampBox div:first-child {
  border-left: none;
}

.stampBox div:nth-child(2) {
  height: 60px;
  border-top: none;
  border-bottom: none;
  border-left: none;
}

.stampBox div:last-child {
  border-left: none;
  height: 23px;
}

.signature {
  font-style: italic;
  font-weight: bold;
  font-family: 궁서체;
}

.contentTable {
  margin-top: 30px;
  width: 700px;
  height: 400px;
}

.contentT {
  width: 700px;
}

.contentTable th {
  width: 100px;
  text-align: center;
  height: 33px;
  background-color: #E8E8E8;
}

.contentTable td {
  padding-left: 10px;
  height: 33px;
}

.space {
  padding: 20px;
  text-align: center;
}

.textArea {
  width: 555px;
  height: 140px;
  padding: 10px;
  border: 0px;
}

.approvalButton {
  display: flex;
  text-align: center;
  margin-top: 20px;
  width: 700px;
  justify-content: flex-end;
}

.approvalButton button {
  margin-left: 10px;
}
.vacationTable {
  margin-top: 20px;
}

.vacationTable th{
  width: 100px;
  text-align: center;
  height: 33px;
  background-color: #E8E8E8;
}

.vacationTable td{
  padding-left: 10px;
}

.docType {
  /* margin-left: 20px; */
  width: 200px;
  padding: 20px;
  border: 1px solid gray ;
  height: 40vh;
}

.docTable th {
  width: 100px;
  text-align: center;
  height: 33px;
  background-color: #E8E8E8;
}

.docTable td {
  width: 150px;
  padding-left: 10px;
}

.sort {
  display: flex;
  width: 400px;
  justify-content: space-between;
}

.approvalTile:hover{
  color: blue;
  font-weight: bold;
}

.approvalTr:hover{
  background-color:#E8EBE7 ;
}

.draftImg {
  width: 50px;
  height: 50px;
}

.approvalStorage {
  margin-left: 20px;
}

.draftInfo {
  width: 280px;
  display: flex;
  justify-content: space-between;
}

.draftTable {
	border-spacing: 0;
}

.draftTable th{
  background-color: #266666;
  color: white;
  width: 100px;
}

.draftTable tr{
  text-align: center;
}

.approvalImg {
  width: 50px;
  height: 50px;
}

.approvalInfo {
  width: 1000px;
  display: flex;
  justify-content: space-between;
}

.approvalInfo div {
  display: flex;
  align-items: center;
}

.approvalInfo p {
  margin-left: 10px;
}

.toggleImg {
  width: 40px;
  height: 40px;
}

.toggle {
  display: flex;
}

.docNo {
  width: 40px;
}

/* .processInfo {
  width: 1000px;
  display: flex;
  justify-content: space-between;
}

.processImg {
  width: 50px;
  height: 50px;
  margin-right: 10px;
} */

.processTable {
  border-spacing: 0;
}

.outlet {
  margin-left: 20px;
}

.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.imgButton {
  margin-left: 5px;
  width: 20px;
  height: 20px;
}

.pageButton {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: left;
  align-items: center;
}

.approvalTable {
	border-spacing: 0;
}

.approvalTable th{
  background-color: #266666;
  color: white;
  width: 100px;
}

.approvalTable tr{
  text-align: center;
  /* height: 20px; */
}

.detailForm {
  margin-top: 20px;
  margin-left: 20px;
  width: 700px;
  padding: 20px;
  height: 700px;
  border: 1px solid gray ;
}

.formButton {
  width: 100px;
  margin-top: 20px;
  margin-left: 400px;
}

.penImg {
  width: 50px;
  height: 50px;
}

.writeNew {
  display: flex;
  width: 1000px;
  justify-content: flex-end;
}