.boardlist{
	padding: 5vw 23vh;
}

.boardlist table{
	border-spacing: 0;

	border: 1px solid #444444;
	width: 1200px;
}

.boardlist th{
	line-height: 3rem;
	border-bottom: 1px solid #aaa;
	font-size: 1.2rem;
}
.boardlist th:first-child{
	width: 100px;
}
.boardlist th:nth-child(2){
	width: 400px;
}

.boardlist th:nth-child(3){
	width: 200px;
}
.boardlist th:nth-child(4){
	width: 100px;
}
.boardlist th:last-child{
	width: 200px;
}

.boardlist td{
	line-height: 2rem;
	text-align: center;
	border-top: 1px solid #aaa;
}

.boardlist button{
	float: right;
	margin-top: 10px;
}

/* link */

.boardCode {
  cursor: pointer;
 }
.boardCode:hover{
  background-color:#E8EBE7 ;
}