.boardregist{
	padding: 5vw 23vh;
}

.boardregist table{
	border-spacing: 0;
	width: 1200px;
}

.boardregist th {
	background-color: #E8ECF5;
	color: #0C3C94;
	width: 60px;
}

.board th{
	height: 50px;
}

.board td{
	text-align: center;
	width: 50px;
	height: 50px;
}


.writer th{
	height: 50px;

}
.writer td{
	text-align: center;
	width: 50px;
	height: 50px;
}

.s1{
	border-right: none;
}
.s2{
	border-left: none;
}
.s4{
	border-right: none;
}
.s5{
	border-left: none;
}
.title1 th{
	height: 70px;
}


.detail th{
	height: 300px;
}


.lock th{
	height: 50px;
}
.lock td{
	text-align: center;
}
.lock input {
	margin-left: 10px;
}

.file th{
	height: 50px;
}

.boardregist button{
	float: right;
	margin-top: 10px;
}

.title1 input{
	border: none;
}
.detail input{
	border: none;
}