.outlet {
    margin-left: 20px;
  }
  
  .clientTable th{
    background-color: #266666;
    color: white;
    width: 120px;
  }
  
  .clientTable tr{
    text-align: center;
  }
  
  .button {
    margin-top: 10px;
    display: flex;
    width: 240px;
    justify-content: space-between;
  }