.outlet {
  margin-left: 20px;
}

.deptTable {
	border-spacing: 0;
}

.deptTable th{
  background-color: #266666;
  color: white;
  width: 100px;
}

.deptTable tr{
  text-align: center;
  /* height: 20px; */
}

.button {
  margin-top: 10px;
  display: flex;
  width: 220px;
  justify-content: space-between;
}

.pageButton {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: left;
  align-items: center;
}

.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.imgButton {
  margin-left: 5px;
  width: 20px;
  height: 20px;
}
