.deptRegist {
  margin-left: 20px;
  background-color: rgb(252, 252, 252);
  margin-top: 40px;
  width: 400px;
  height: 200px;
  border: 1px solid gainsboro;
  padding: 20px;
}

.deptRegist td {
  width: 100px;
  padding: 5px;
}

.button1 {
  display: flex;
  margin-top: 50px;
  width: 100px;
  justify-content: space-between;
}

.button3 {
  margin-top: 50px;
  display: flex;
  width: 150px;
  justify-content: space-between;
}

.deptInput {
  height: 25px;
}