.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;

    border: 1px #AAAAAA solid;
}

.header{
    background-color: #266666;
    height: 8vh;
    width: 100%;

    font-size: 24;
    color: white;

    display: flex;
    flex-direction: row;

    border: 1px #AAAAAA solid;   
}

.loginBox{
    width: 30%;
    height: 40%;

    background-color: #266666;

    border: 1px #AAAAAA solid;
    border-radius: 15px;

    margin-top: 3%;
    margin-left: 35%;
    margin-bottom: 133px;
}

.logoBox{
    width: 9.8vw;
    height: 20.5vh;
    background-image: url(/src/images/logo.png);
    object-fit: cover;
    margin-top: 13%;
    margin-left: 36%;
    background-repeat: no-repeat;
    
    
}

.idInput{
    width: 80%;
    height: 57px;
    place-content: "아이디";
    margin-top: 15%;
    margin-left: 10%;
}

.pwInput{
    width: 80%;
    height: 57px;
    place-content: "아이디";
    margin-top: 8px;
    margin-left: 10%;
}

.chkBoxDiv{
    display: flex;
    flex-direction: row;
}

.submitBtn{
    width: 80%;
    height: 8%;
    
    margin-left: 10%;
    margin-top: 5%;

    background: #779999;
    border-radius: 45px;

    font-size: 24px;
    text-align: center;
}

.extraBtn{
    display: flex;
    flex-direction: row;
}