
table {
  font-size: 14px;
  margin: 3px;
}

.mainButton {
  background-color: #266666;
  color: #ffffff;
  border: 1px solid #266666;
  margin: 3px;
  height: 25px;
  }

.subButton {
  background-color: #eeeeee;
  color: #266666;
  border: 1px solid #266666;
  margin: 3px;
  height: 25px;
  }

  .activeButton {
    background-color: #266666;
    color: #ffffff;
    border: 1px solid #266666;
    width: 20px;
    margin: 3px;
    height: 25px;
    }
  
  .inactiveButton {
    background-color: #ffffff;
    color: #266666;
    border: 1px solid #266666;
    width: 20px;
    margin: 3px;
    height: 25px;
    }

    th {
      width: 100px;
    }
    
    tr {
      height: 30px;
    }

    input {outline: none;}

  .searchIcon{
    background-image: url(../images/searchIcon.png);
    height: 25px;
    width: 25px;
    
    background-repeat: no-repeat;
    object-fit:contain;

}
