.changeTheme {
  display: block;
  width: 1000px;
  height: 100vh;
  margin-left: 20px;
}

.colorImg {
  width: 100px;
  height: 100px;
}

.colorImg:hover {
  cursor: pointer;
}

.selectColor {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}

.buttonBox {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}