.navbar {
    background-color: rgb(232, 235, 231);
    width: 200px;
    height: 100vh;
}

.link { margin-left: 30px; }
.link h3 { margin-left: -10px; }

h5:hover {
  cursor: pointer;
  text-shadow: '2px 2px #000, -2px -2px #000';
}

.active {
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: black;
    text-shadow: 2px 2px 4px black;
}

.inactive {
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    color: black
}