
.positionDetail{
	padding: 2vw 10vh;
}
.positionDetail h4 {
  text-align: center;
}

.positionDetail table {
  border-spacing: 0;
}

.positionDetail th {
  background-color:#266666 ;
  color: #ffffff;
}

.detailButton {
  padding: 2vw;
}

.postitionButton {
  padding: 2vw 10vh;
}








.positionRegist{
  padding: 2vw 10vh;

}
.positionRegist table {
  border-spacing: 0;
}
.positionRegist h4 {
  text-align: center;
}

/*1. positionList CSS*/

.positionList{
	padding: 2vw 10vh;
}

.positionList h4 {
  text-align: center;
}

.positionListTable img {
  width: 15px;
  height: 15px;
  margin-left: 5px;
}


/* positionList 마우스 올리면 모양 바뀌기 */
.link {
  cursor: pointer;
 }

 /* 페이지 */

 .table{
  margin-top: 5px;
  height: 300px;
 }
 .input{
   text-align: center;
   height: 10px;
 }