.stampRegist{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-left: 20px;
  width: 700px;
  height: 700px;
}
.stampSize {
  margin-top: 60px;
  width: 100px;
  height: 100px;
  border: 1px solid gray;
  padding: 10px;
}

.uploadButton {
  margin-top: 50px;
}

.myStamp {
  width: 100px;
  height: 100px;
  border: 1px solid gray;
  padding: 10px;
}